# Projet Mathématique

## Modèle de Cox-Ross-Rubinstein

## Premier Pricer

### Question 3 :

In [ ]:
def qN (rN, hN, bN) :
    return (rN - bN) / (hN - bN)

In [ ]:
def fact (N) :
    if (N == 0) :
        return 1
    return N * fact (N-1)

In [ ]:
def coeff_binom (k, N) :
    return fact(N) / (fact(k) * fact(N-k))

In [ ]:
def pricer_1 (N, rN, qN, s, hN, bN, f) :
    S = 0
    for k in range(N + 1):
        S += coeff_binom(k,N) * qN**k * (1-qN)**(N-k) * f(s * (1+hN)**k * (1+bN)**(N-k))
    return S / ((1 + rN)**N)

### Question 4 :

In [ ]:
def f(x) : 
    return max(x - 110, 0)

In [ ]:
pricer_1(20, 0.02, qN(0.02, 0.05, -0.05), 100, 0.05, -0.05, f)

26.616941360258558

## Deuxième Pricer

### Question 5

In [ ]:
def pricer_2 (N, rN, hN, bN, s, f) :
  v = []
  for k in range (N + 1) :
    v.append(f(s * ((1 + hN)**k) * (1 + bN)**(N - k)))
  q = qN(rN, hN, bN)
  v0 = (1 - q) / (1 + rN)
  v1 = q / (1 + rN)
  while (len(v) != 1) :
    w = []
    for i in range (len(v) - 1) :
      w.append(v0 * v[i] + v1 * v[i + 1])
    v = w.copy()
  return v[0]

### Question 6

In [ ]:
def g(x) :
  return max(x - 100, 0)

In [ ]:
pricer_2(3, 0.02, 0.05, -0.05, 100, g)

7.063436197239376

In [ ]:
v = [g(100 * ((1 + 0.05)**k) * (1 + -0.05)**(3 - k)) for k in range(4)]
q = qN(0.02, 0.05, -0.05)
v0 = (1 - q) / (1 + 0.02)
v1 = q / (1 + 0.02)
w = [v0 * v[0] + v1 * v[1], v0 * v[1] + v1 * v[2]]
y = [v0 * w[0] + v1 * w[1]]
print(v)
print(w)
print(y)

[0, 0, 4.737499999999997, 15.762500000000017]
[0.0, 3.2512254901960764]
[2.231233179546327]

## Comparaison

### Question 7

In [ ]:
import random as rd

In [ ]:
def comparaison (s, rN, hN, bN, f) :
  N = rd.randint(5, 15)
  q = qN(rN, hN, bN)
  p1 = pricer_1(N, rN, q, s, hN, bN, f)
  p2 = pricer_2(N, rN, hN, bN, s, f)
  return abs(p1 - p2)

In [ ]:
comparaison(100, 0.01, 0.05, -0.05, f)

8.881784197001252e-16

In [ ]:
import pandas as pd

In [ ]:
tab = []
for N in range (5, 16) :
  tab.append(abs(pricer_1(N, 0.01, qN(0.01, 0.05, -0.05), 100, 0.05, -0.05, f) - pricer_2(N, 0.01, 0.05, -0.05, 100, f)))
pd.DataFrame(data = tab, index = [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]).transpose()

,5,6,7,8,9,10,11,12,13,14,15
0,8.881784e-16,8.881784e-16,8.881784e-16,0.0,0.0,8.881784e-16,8.881784e-16,3.552714e-15,0.0,1.776357e-15,1.776357e-15

## Couverture

### Question 10

In [ ]:
def alpha (N, s, rN, hN, bN, f, S) :
  return (f((1 + hN) * S) - f((1 + bN) * S))  / (S * (hN - bN))

In [ ]:
def beta (N, s, rN, hN, bN, f, S) :
  return (((1 + bN) * f((1 + hN) * S) - (1 + hN) * f((1 + bN) * S))) / ((1 + rN)**N * (bN - hN))

In [ ]:
alpha(2, 100, 0.03, 0.05, -0.05, g, 100) # alpha à la date 0

0.5

In [ ]:
beta(2, 100, 0.03, 0.05, -0.05, g, 100) # beta à la date 0

-44.77330568385333

In [ ]:
def T1 (rN, hN, bN) : 
  return qN(rN, hN, bN) * (1 + hN) + (1 - qN(rN, hN, bN)) * (1 + bN)

In [ ]:
alpha(2, 100, 0.03, 0.05, -0.05, g, 100 * (T1(0.03, 0.05, -0.05))) # alpha à la date 1

0.7912621359223306

In [ ]:
beta(2, 100, 0.03, 0.05, -0.05, g, 100 * (1 + 0.05)) # beta à la date 1

-91.78527665189932